*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: scroll;
}
#header{
    position: relative;
    background: linear-gradient(to right, #ab51bb, #8ecdff);
    height: 41rem;
    overflow: hidden;
}
.navigation{
    background: rgba(115, 50, 175, 0.447);
    padding: 0.8rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    margin-bottom: 0.5rem;
    z-index: 1;
    font-size: larger;
    width: 100%;
}
.navigation > nav > ul > li{
    list-style: none;
    display: inline;
    margin-right: 2rem;
    position: static;
}
.navigation > nav > ul > li > a{
    text-decoration: none;
    color: rgb(234, 232, 236);
    padding-bottom: 1.5rem;
}
.navigation > nav > ul > li > a:hover{
    color:  #8ecdff;
}
button{
    padding: 1rem 1.5rem;
    background:  #c31de0;
    color: white;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    font-family: cursive;
}
button:hover{
    background-color: white;
    color:  #8ecdff;
}
.arrow{
    background-color: #c31de0;
    position: fixed;
    margin-bottom: 30px;
    margin-right: 30px;
    bottom: 2px;
    right: 2px;
    z-index: 1;
}
.arrow img{
  width: 35px;
}
h1{
    font-size: 70px;
    color: black;
}
span{
    color:  #8ecdff;
}
.content{
    padding: 9rem 38rem 10rem 3rem;
}
.content p{
    color: rgba(241, 236, 236, 0.662);
    font-family: Georgia;
    font-size: 20px;
}
.information{
    position: absolute;
    top: 18%;
    right: 6%;
    transform: translateY(-50%);
}
#circle{
    width: 450px;
    height: 450px;
    position: absolute;
    top: 0;
    right: 0;
border-radius: 50%;
background: #ccc;
}
.feature img{
    width: 55%;
        cursor: pointer;
        transition: all 0.4s ease-out;
        border-radius: 50%;
}
.feature img:hover{
     transform: scale(1.6);
}
.feature{
    position: relative;
}
.one{
    right: -100px;
    bottom: -85px;
}
.social-links{
    padding-top: 1rem;
    margin: 0.5rem;
    display:flex;
    gap:2rem;
}
.social-links > a{
    color:white;
    background: rgba(78, 77, 77, 0.32);
    padding:1rem;
    border-radius: 50%;
    transition: all .4s ease-out;
}
.social-links >a:hover{
    background:#c31de0;
}
@media (min-width:600px) and (max-width:800px) {
    #header{
       padding: 1rem;
    }
    .navigation >nav >ul >li >a{
        font-size: 1rem;
    }
    .navigation >button{
        font-size: 0.6rem;
        padding: 1rem;
    } 
}
@media (max-width:600px) {
    body{
        position: relative;
    }
    #header{
        overflow: hidden;
        height: 100vh;
    }
    .navigation{
        width: 98%;
    }
    .navigation >nav{
        display: none;
        position: absolute;
        top: 3rem;
        left: 240px;
        width: 40%;
        height: 50vh;
        background: purple;
    } 
    .navigation >nav >ul{
        width: 70%;
        left: 0;
        right: 0;
        margin: auto;
        padding: 1.5rem;
        border-radius: 0.4rem;

    }
    .navigation >nav >ul >li{
        display: block;
        margin: 1rem 0;
        text-align: center;
    }
    .navigation >button{
        display: none;
    }
    h1{
        font-size: 40px;
    }
    .content p{
        font-size: 15px;
    }
    .information{
        right: 40%;
    }
    .content{
        padding: 2rem 2rem 0rem 1rem;
    margin-block-start: 130px;
    }
    #circle{
        width: 100px;
        height: 90px;
        top: -10px;
    }
    .one{
        top: 10px;
        left: 20px;
    }
}
.cont p{
    color:rgba(0, 0, 0, 0.413);
    font-family: Georgia;
    font-size: 20px;
}
.about{
    padding-left: 100px;
}
.about h1{
    font-size: 40px;
}
.about-img{
    display: flex;
}
.about-img img{
    width: 120rem;
    height: 61vh;
}
.about-content{
    padding-left: 50px;
    padding-right: 90px;
}
.carousel-item img{
    height: 100px;
}
.carousel-control-prev{
    margin-left: -130px;
}
@media (max-width:600px) {
    .about{
        padding-left: 40px;
    }
    .about-img{
        display: inline;
    }
    .about-img img{
        width: 250px;
    }
    .about-content{
        padding-left: 10px;
    }
}
.counts {
    padding: 70px 0 60px;
  }
.counts .count-box {
    padding: 30px 30px 25px 30px;
    width: 100%;
    position: relative;
    text-align: center;
    background: rgba(229, 32, 32, 0);
}
  
.counts .count-box i {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px;
    color:#c31de0;
    border-radius: 50px;
    line-height: 0;
} 
.counts .count-box p {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
}
.services{
    padding-left: 60px;
    padding-right: 40px;
}
.services .icon-box {
    text-align: center;
    background: rgba(41, 38, 38, 0.1);
    padding: 80px 30px;
    transition: all ease-in-out 0.3s;
  }
  
  .services .icon-box .icon {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    background: #c31de0;
    border-radius: 5px;
    transition: all 0.3s ease-out 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transform-style: preserve-3d;
  }
  
  .services .icon-box .icon i {
    color: #fff;
    font-size: 28px;
  }
  
  .services .icon-box .icon::before {
    position: absolute;
    content: "";
    left: -8px;
    top: -8px;
    height: 100%;
    width: 100%;
    background: rgba(35, 33, 33, 0.15);
    border-radius: 5px;
    transition: all 0.3s ease-out 0s;
    transform: translateZ(-1px);
  }
  
  .services .icon-box h4 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
  }
  
  .services .icon-box h4 a {
    color: black;
  }
  
  .services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .services .icon-box:hover {
    background:#c31de0;
    border-color: #c31de0;
  }
  
  .services .icon-box:hover .icon {
    background: #fff;
  }
  
  .services .icon-box:hover .icon i {
    color: #c31de0;
  }
  
  .services .icon-box:hover .icon::before {
    background: #c31de0;
  }
  
  
  .services .icon-box:hover h4 a,
  .services .icon-box:hover p {
    color: #fff;
}
.portfolio .portfolio-item {
    margin-bottom: 30px;
  }
  
  .portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 15px auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
    padding: 2px 15px;
  }
  
  .portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px 10px 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #000;
    background: rgba(255, 255, 255, 0.1);
    margin: 0 3px 10px 3px;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
  } 
  .portfolio #portfolio-flters li:hover,
  .portfolio #portfolio-flters li.filter-active {
    background: #c31de0;
  }
  
  .portfolio #portfolio-flters li:last-child {
    margin-right: 0;
  }
  
  .portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    z-index: 0;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .portfolio .portfolio-wrap::before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
  }
  
  .portfolio .portfolio-wrap .portfolio-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .portfolio .portfolio-wrap .portfolio-info::before {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    top: 35px;
    left: 35px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    transition: all 0.5s ease 0s;
    z-index: 9994;
  }
  
  .portfolio .portfolio-wrap .portfolio-info::after {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 35px;
    right: 35px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    transition: all 0.5s ease 0s;
    z-index: 9994;
  }
  
  .portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
  }
  
  .portfolio .portfolio-wrap .portfolio-info p {
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
  }
  
  .portfolio .portfolio-wrap .portfolio-links {
    text-align: center;
    z-index: 4;
  }
  
  .portfolio .portfolio-wrap .portfolio-links a {
    color: #fff;
    margin: 0 2px;
    font-size: 28px;
    display: inline-block;
    transition: 0.3s;
  }
  
  .portfolio .portfolio-wrap .portfolio-links a:hover {
    color: #8ecdff;
  }
  
  .portfolio .portfolio-wrap:hover::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
  }
  
  .portfolio .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
  }
  
  .portfolio .portfolio-wrap:hover .portfolio-info::before {
    top: 15px;
    left: 15px;
  }
  
  .portfolio .portfolio-wrap:hover .portfolio-info::after {
    bottom: 15px;
    right: 15px;
  }
  /* portfolio css code */
  .portfolio-details {
    padding-top: 40px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
  }
  
  .portfolio-details .container {
    padding-top: 20px;
    padding-bottom: 40px;
 }
  
  .portfolio-details .portfolio-title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .portfolio-details .portfolio-info {
    padding-top: 45px;
  }
  
  .portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  
  .portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
  }
  
  .portfolio-details .portfolio-info ul li+li {
    margin-top: 10px;
  }
  
  .portfolio-details .portfolio-info p {
    font-size: 15px;
    padding: 15px 0 0 0;
  }
  
  @media (max-width: 992px) {
    .portfolio-details .portfolio-info {
      padding-top: 20px;
    }
  }
  
  .portfolio-details .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  
  .portfolio-details .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .portfolio-details .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #18d26e;
  }
  /*end of portfolio css code  */
  .contact{
    background-color: gray;
  }
  .contact .info-box {
    color: #444444;
    padding: 20px;
    width: 100%;
    background: rgba(255, 255, 255, 0.08);
  }
  
  .contact .info-box i.bx {
    font-size: 24px;
    color:#8ecdff;
    border-radius: 50%;
    padding: 14px;
    float: left;
    background: rgba(255, 255, 255, 0.1);
  }
  
  .contact .info-box h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0 8px 68px;
  }
  
  .contact .info-box p {
    padding: 0;
    color:whitesmoke;
    line-height: 24px;
    font-size: 14px;
    margin: 0 0 0 68px;
  }
  
  .contact .info-box .social-links {
    margin: 5px 0 0 68px;
    display: flex;
  }
  
  .contact .info-box .social-links a {
    font-size: 18px;
    display: inline-block;
    line-height: 1;
    margin-right: 12px;
    transition: 0.3s;
  }
  .contact-form, .contact-info2, .contact-icon{
    padding-left: 5rem;
  }
  input , textarea{
    width: 60%;
  }
  .footer-social a{
    list-style: none;
    display: inline-block;
    width: 50px;
}
.footer{
  background: linear-gradient(to right, #ab51bb, #8ecdff);
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
}
.left-footer, .right-footer{
  width: 50%;
}
.left-footer{
  display: flex;
  gap: 2.5rem;
}
.footer-icons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo{
  filter: grayscale(100) brightness(50);
  width: 17rem;
}
.footer-nav{
  display: flex;
  flex-wrap: wrap;
}
.footer-nav >li{
  list-style: none;
  width:50% ;
  margin-bottom: 0.3rem;
}
.footer-nav >li{
    list-style: none;
    width:50% ;
    margin-bottom: 0.3rem;
}
.footer-nav >li >a{
    text-decoration: none;
    color: #0f3351;
}
.footer-nav >li >a:hover{
  color: #fff;
}
.right-footer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.7rem;
    padding-right: 7rem;
}
.icon-open{
    display: none;
}
@media (max-width:600px) {
  .icon-open{
    display: block;
}
  .footer{
    height: fit-content;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.left-footer, .right-footer{
    width: 100%;
}
.left-footer{
    flex-direction: column;

}
.logo{
    width: 50%;
    display: block;
    margin: 10% auto 2rem auto;
}
.footer-nav{
    flex-direction: column;
    margin: 0;
}
.right-footer{
    align-items: center;        
}
}